<div class="row">
  <div class="push_one ten columns">

		<h2><a href="<%= @roaster.website_url %>" target="_blank"><%= @roaster.roaster_name %></a></h2>

		<p><%= @roaster.address %></p>
	
		<h4>Beans From <%= @roaster.roaster_name %></h4>

		<ul>
			<% @roaster_beans.each do |bean| %>
				<li><%= link_to bean.bean_name, bean %></li>
			<% end %>
		</ul>

	</div>
</div>