<div class="row">
  <div class="push_one ten columns">
  

    <%= form_for(@user) do |f| %>

      <% if @user.errors.any? %>
        Please correct the following errors:
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="row">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>

      <br />

      <div class="row">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>

      <br />
      
      <div class="row">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <br />
      
      <div class="row">
          <%= f.label :password %>
          <%= f.password_field :password %>
      </div>

      <br />
      
      <div class="row">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <% if admin? %>
        <div class="row">
          <%= f.label :admin %>
          <%= f.check_box :admin %>
        </div>
      <% end %>

      <br />
      
      <div class="row">
        <%= f.submit %>
      </div>

    <% end %>

  </div>
</div>


