<div class="row">
  <div class="push_one ten columns">

  <h2>Coffee Beans</h2>

  <%= image_tag("pictures/coffee_line.jpg") %>

    <table>
      <thead>
        <tr>
          <th>Bean</th>
          <th>Country</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>

     <tbody>
        <% @coffee_beans.each do |bean| %>
          <tr>
            <td><%= bean.id %></td>
            <td><%= bean.country.country_name %>
            <td><%= link_to bean.bean_name, bean %></td>
            <td><%= bean.description %></td>
            
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

