<div class="row">
	<div class="push_one ten columns">
	
	<h2><%= @coffee_bean.bean_name %></h2>

	<p><strong>Description:</strong> <%= @coffee_bean.description %></p>
	<p><strong>Price:</strong> <%= number_to_currency(@coffee_bean.price) %><p>
	<p><strong>Country:</strong> <%= link_to @coffee_bean.country.country_name, country_path(@coffee_bean.country) %><p>
	<p><strong>Roaster:</strong> <%= link_to @coffee_bean.roaster.roaster_name, roaster_path(@coffee_bean.roaster) %><p>


<% if current_user == nil %>
	<% else %>

<%- unless current_user.favorite_coffees.exists?(id: @coffee_bean.id) -%>
<%= link_to 'Add to Favorites', favorite_coffees_path(coffee_id: @coffee_bean.id), method: :post %>
<%- else -%>
<%= link_to 'Remove from favorites', favorite_coffee_path(@coffee_bean), method: :delete %>
<%- end -%>
<% end %>

	</div>
</div>

