<!DOCTYPE html>
<html>
<head>
  <title>CoffeeCounselorApp</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>

<nav id="navbar-main-nav" class="navbar">
   <div class="row">
  <!-- Toggle for mobile navigation, targeting the <ul> -->
  <a class="toggle" gumby-trigger="#navbar-main-nav #main-nav" href="#"><i class="icon-menu"></i></a>
  <h3 class="four columns logo">
    <a href="/">
      Coffee Counselor
    </a>
  </h3>
  <ul class="eight columns pull_right">
    <li><%= link_to 'About', misc_about_path %></li>
    <li>
      <a href="#">Coffee</a>
      <div class="dropdown">
        <ul>
          <li><%= link_to 'Beans', coffee_beans_path %></li>
          <li><%= link_to 'Roasters', roasters_path %></li>
          <li><%= link_to 'Countries', countries_path %></li>
        </ul>
      </div>
    </li>
    <li><%= link_to 'Contact Us', misc_contact_path %></li>
    <% if current_user == nil %>
<li><%= link_to 'Login', login_path %></li>
<li><%= link_to 'Create Account', new_user_path %></li>
<% else %>
<li> 
<%= link_to current_user.first_name, user_path(current_user) %> 
<div class="dropdown">
        <ul>
          <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
          <li><%= link_to 'Logout', logout_path %></li>
        </ul>
</div>
</li>
<% end %>
  </ul>
</div>
</nav>

<body>

<%= yield %>

</body>
</html>
